/*
    star global rules
    */
:root {
    --min-color: #087c71;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;



}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
}

.contuner a {
    text-decoration: none;
}

body {
    /*google fonts*/
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #727272;

}

.contuner {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*resonsif*/
/*small*/
@media only screen and (max-width: 768px) {

    div.header h2 {
        font-size: 20px !important;

    }

    div .contuner form {
        margin: 0;
    }

    div .contuner form .submit input {
        width: 300px !important;
    }
}

div.intro-landing h1 {
    font-size: 30px !important;
}

div.intro-landing h2 {
    font-size: 40px !important;
}

/*end */
.parent {
    background-color: #eee;
}

.header {
    padding-top: 5px;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 0;
    height: 60px;
    margin-top: 10px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #727272;

}

.header .contuner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 50px;

}

.header .lougo {
    scale: 0.3;
    position: relative;
    right: 50px;

}

.header .contuner h2 {

    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;

}

.header .links {
    position: relative;



}

.ss {}

/*icons star*/
.header .links .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icons span {
    background-color: #ffffff;
    margin-bottom: 5px;
    direction: rtl;
    height: 2px;
    transition: 0.3s;

}

.header .links .icons:hover {
    cursor: pointer;

    &span {
        background-color: black;
    }
}

.a1 {
    width: 100%;
}

.a2 {
    width: 60%;
}

.header .links:hover .icons span {
    width: 100%;
}


.a3 {
    width: 100%;
}

/*icons end*/

/*ul css*/
.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #eee;
    position: absolute;
    right: 0;
    top: calc(100% +17px);
    min-width: 200px;
    margin-top: 10px;
    border-radius: 20px;
    display: none;
    transition: 0.3s;
    z-index: 1;

}

.header .links ul::before {

    content: '';
    border: solid 10px;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    top: -19px;
    right: 13px;
}

.header .links:hover ul {
    display: block;
}



/*links ccs star*/
.header .links ul a {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    /*fonts*/
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-variant: small-caps;
    font-size: 20px;
}

.header .links ul a:hover {
    padding-left: 25px;
    padding-right: 5px;
    background-color: #10cab7;
    border-radius: 20px;
}

/*links ccs end*/
/*landing star*/
.landing {
        background-image: url(https://scontent.fqfd1-2.fna.fbcdn.net/v/t39.30808-6/460608292_508385581899286_6304003794098414787_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=KHoViCM5i9wQ7kNvgECHi8R&_nc_zt=23&_nc_ht=scontent.fqfd1-2.fna&_nc_gid=AAKGbOZhPkJGsHSymuqJmzV&oh=00_AYDHvRGQ5EekbDIu_mCTaSO2vymEQnn-Y6WCrJoo7ywG8A&oe=67592A14);
    background-size: cover;
    height: calc(100vh - 57px);
    position: relative;
    background-attachment: fixed;

}

.dz {
    padding: 20px;
}

.landing .intro-landing {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.landing .intro-landing p {
    margin: 0;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.801);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    font-family: "Pacifico", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;

    margin-top: 5px;


}

.landing .intro-landing h1,
h2 {
    font-family: "Pacifico", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 5px;

}

.d1 {
    clear: both;
}

.dz {
    margin-top: 5px;
    background-color: #727272;
    text-align: center;
}



/*landing end*/
.tes {
    width: 100%;
}

.tes h3 {
    font-family: "Pacifico", serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: whitesmoke;
    font-size: 30px;
}

/*server strat*/
.srever {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.sr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

}

/*card*/
.card {

    width: 100px !important;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    background-color: #ffffffd8;
    color: black;
    text-transform: capitalize;
    transition: 0.6s ease-in-out;



}

.card:hover {
    box-shadow: 20px 20px 15px #1a1919;


}

.card:hover h3 {
    text-shadow: 0px 3px 15px #615d5d;
    color: rgb(0, 0, 0);



}

.card:hover h3:last-child {
    color: red;
    font-size: 25px;
    text-shadow: 0px 3px 15px #000000;
    font-family: cursive;
    font-weight: 900;
    text-transform: capitalize;
}

.card:not(last-child) {
    flex-grow: 2;
}

.card:hover h3:last-child::after {
    content: '!';
    padding: 2px;

}


.card .imger {
    width: 100% !important;

    overflow: hidden;
    border-radius: 30px;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    div .card {
        width: auto !important;
        margin: 0;
    }

    div .dz {
        margin: 0 !important;
    }

    div .imger {
        width: 100% !important;
    }

    div .landing {
        background-image: url(../photo/5.jpg);
        background-position: 50%;
    }

    div .landing h2 {
        color: whitesmoke !important;
    }
}

.imger .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .info h3 {
    font-family: cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: 0.6s ease-in-out;
    font-family: "Pacifico", serif !important;
}

.card .info p {
    width: 70%;
    text-align: center;
    margin: auto;
    font-family: "Pacifico", serif !important;
}

.ofter .dr {
    display: grid !important;
    grid-template-columns: repeat(auto, minmax(300px));
}

/*sere end*/

/*form */
.i {
    width: 100wh;
    padding: 30px;
    background-color: #087c71;
}

.i .contuner {
    padding: 5px;
}

.contuner .text {
    text-align: center;
}

.contuner form {

    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

form input {
    width: 300px !important;
    height: 50px !important;
    border-radius: 20px;
    border: none;
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;

}

form .di1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1fr;
    height: 50%;
    flex-wrap: wrap;
}

.di1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

}

label {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    text-transform: capitalize;
    margin: 5px;

}

label::after {
    content: ':';
}

input:focus {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 183, 255);
    text-transform: capitalize;
    outline: 3.5px solid rgb(1, 159, 180);
}

.di {
    width: 1fr;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.di div {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.di .serv {

    display: flex;
    flex-direction: row !important;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit input {
    width: 250px !important;
    background-color: #ff0505be;
    color: whitesmoke;
    transition: 0.3s;
    text-align: center;
    margin: auto;
    font-family: "Pacifico", serif !important;
    text-transform: capitalize;

}

.submit input:hover {
    background-color: #ff0505;
    text-align: center;
    text-transform: capitalize;
    width: 300px !important;
}

.dat input {
    color: whitesmoke;
}

.dat input {
    color: #000000;
}

select {
    background-color: whitesmoke;
    border-radius: 30px;
}

option {

    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-family: cursive;
}

/*countect end*
/*foter*/
.fote {
    width: 50%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.fote .div1 {
    display: flex;
    gap: 50px;
}

.fote .div1 a {
    text-decoration: none;
    font-family: cursive;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    text-transform: capitalize;
}

.di2 {
    text-align: center;
}

.di2 h2 {
    font-family: "Pacifico", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.di2 p {
    font-family: "Pacifico", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-top: 5px;
}

@media only screen and (max-width: 768px) {
    div .tag .t {
        width: 100% !important;
    }

    div .d2 {
        width: 100% !important;
    }

    div .d2 .scour {
        width: 50 !important;
        text-align: center !important;
    }

    div .sd {
        float: left !important;
        position: sticky;
        bottom: 5px;
        left: 10px;
    }
}

.sd {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3f3f3f;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    position: sticky;
    bottom: 5px;
    left: 10px;


}

.sd .tooltiptext {

    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.sd .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.sd:hover .tooltiptext {
    visibility: visible;
}
